<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Comfy</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="overflow-hidden py-32">
        <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
          <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:min-w-full lg:max-w-none lg:flex-none lg:gap-y-8">
            <div class="lg:col-end-1 lg:w-full lg:max-w-lg lg:pb-8">
              <h2 class="text-3xl font-bold tracking-tight primary-color-text sm:text-4xl">Download ComfySpace</h2>
              <p class="mt-6 text-xl leading-8 primary-color-text">Currently available on Android & iOS.</p>
              <!--<p class="mt-6 text-base leading-7 text-gray-600"> </p>-->

              <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
              <a href="https://apps.apple.com/gb/app/comfy-space-robotics/id6499317656"
                class="w-full sm:w-auto flex " target="_blank">
                <span class="isolate inline-flex rounded-md shadow-sm">
                  <button type="button" class="relative inline-flex items-center gap-x-1.5 rounded-l-md rounded-r-md accent-color px-3 py-2 text-sm font-semibold ring-1 ring-inset hover:bg-gray-50 focus:z-10">
                    <svg class="-ml-0.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.9204 10.6359C13.9305 9.86936 14.1391 9.11772 14.5267 8.45098C14.9143 7.78423 15.4684 7.22404 16.1373 6.82252C15.7124 6.22998 15.1517 5.74234 14.5 5.39833C13.8482 5.05433 13.1232 4.86344 12.3827 4.84082C10.803 4.67892 9.27148 5.7637 8.46646 5.7637C7.64588 5.7637 6.40646 4.85689 5.0718 4.8837C4.20851 4.91093 3.36716 5.15602 2.62974 5.59509C1.89231 6.03415 1.28396 6.65223 0.863946 7.38909C-0.955401 10.4644 0.401671 14.9841 2.14448 17.47C3.01646 18.6873 4.03553 20.047 5.36899 19.9988C6.67386 19.9459 7.1612 19.1864 8.73628 19.1864C10.2967 19.1864 10.754 19.9988 12.1145 19.9681C13.5147 19.9459 14.3968 18.7454 15.2382 17.5166C15.8647 16.6493 16.3468 15.6907 16.6667 14.6764C15.8532 14.3404 15.159 13.7782 14.6706 13.0597C14.1823 12.3412 13.9214 11.4982 13.9204 10.6359Z "/>
                      <path d="M11.3507 3.20594C12.1141 2.31119 12.4902 1.16113 12.3992 0C11.2328 0.119599 10.1554 0.66383 9.38167 1.52425C9.00336 1.94459 8.71361 2.43361 8.52899 2.96334C8.34438 3.49307 8.26851 4.05313 8.30573 4.6115C8.88912 4.61736 9.46626 4.49391 9.9937 4.25045C10.5211 4.00698 10.9851 3.64985 11.3507 3.20594Z " />
                    </svg>
                    App Store
                  </button>
                  <!--<button type="button" class="relative -ml-px inline-flex items-center rounded-r-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10"></button>-->
                </span>
                
              </a>  
              <a href="https://play.google.com/store/apps/details?id=tech.comfyspace.comfyspace&pcampaignid=web_share"
              class="w-full sm:w-auto flex " target="_blank">
              <span class="isolate inline-flex rounded-md shadow-sm">
                <button type="button" class="relative inline-flex items-center gap-x-1.5 rounded-l-md rounded-r-md accent-color px-3 py-2 text-sm font-semibold ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
                  <svg class="-ml-0.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.17068 9.5514L0.0746651 18.3383C0.0754255 18.3398 0.0754254 18.3422 0.0761858 18.3437C0.324838 19.2978 1.17649 20 2.18783 20C2.59236 20 2.9718 19.888 3.29725 19.6921L3.32311 19.6765L12.4358 14.2994L8.17068 9.5514Z" />
<path d="M16.3609 8.05515L16.3533 8.04971L12.419 5.71769L7.9866 9.7511L12.435 14.2985L16.348 11.9898C17.0339 11.6103 17.5 10.8708 17.5 10.0186C17.5 9.17101 17.0407 8.4354 16.3609 8.05515Z" />
<path d="M0.0745195 1.6611C0.0258537 1.84461 0 2.03746 0 2.23652V17.7636C0 17.9627 0.0258537 18.1555 0.0752799 18.3383L8.44884 9.77613L0.0745195 1.6611Z"  />
<path d="M8.23047 9.99992L12.4203 5.71613L3.31827 0.319589C2.98749 0.116636 2.60121 -3.47144e-06 2.18831 -3.47144e-06C1.17697 -3.47144e-06 0.323798 0.703723 0.0751466 1.65862C0.0751466 1.65939 0.0743866 1.66017 0.0743866 1.66095L8.23047 9.99992Z" />
                  </svg>
                  Google Play
                </button>
                <!--<button type="button" class="relative -ml-px inline-flex items-center rounded-r-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10"></button>-->
              </span>
              
            </a>  
            </div>
              
            </div>
            <div class="flex flex-wrap items-start justify-end gap-6 sm:gap-8 lg:contents">
              <div class="w-0 flex-auto lg:ml-auto lg:w-auto lg:flex-none lg:self-end">
                <img src="https://images.unsplash.com/photo-1670272502246-768d249768ca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1152&q=80" alt="" class="aspect-[7/5] w-[37rem] max-w-none rounded-2xl bg-gray-50 object-cover">
              </div>
              <div class="contents lg:col-span-2 lg:col-end-2 lg:ml-auto lg:flex lg:w-[37rem] lg:items-start lg:justify-end lg:gap-x-8">
                <div class="order-first flex w-64 flex-none justify-end self-end lg:w-auto">
                  <img src="/download/robot-assembly.png" alt="" class="aspect-[4/3] w-[24rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover">
                </div>
                <div class="flex w-96 flex-auto justify-end lg:w-auto lg:flex-none">
                  <img src="/download/remote-control.png" alt="" class="aspect-[7/5] w-[37rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover">
                </div>
                <div class="hidden sm:block sm:w-0 sm:flex-auto lg:w-auto lg:flex-none">
                  <img src="/blog/jax-demo.gif" alt="" class="aspect-[4/3] w-[24rem] max-w-none rounded-2xl bg-gray-50 object-cover">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
</body>
</html>