<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comfy FAQ</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="">
        <div class="mx-auto max-w-7xl px-6 py-24 sm:pt-32 lg:px-8 lg:py-40">
          <div class="lg:grid lg:grid-cols-12 lg:gap-8">
            <div class="lg:col-span-5">
              <h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900">Frequently asked questions</h2>
              <p class="mt-4 text-base leading-7 text-gray-600">Can’t find the answer you’re looking for? Reach out to our <a href="mailto:thomas@comfyspace.tech" class="font-semibold text-indigo-600 hover:text-indigo-500">customer support</a> team.</p>
            </div>
            <div class="mt-10 lg:col-span-7 lg:mt-0">
              <dl class="space-y-10">
                <div>
                  <dt class="text-base font-semibold leading-7 text-gray-900">What is Comfy Space?</dt>
                  <dd class="mt-2 text-base leading-7 text-gray-600">
                    Comfy Space is a cross-platform application & your personal gateway to the world of personal robotics, regardless of your skill level. From learning with Comfy Academy to creating with Comfy Projects, we support your journey from concept to creation. Just share your idea, and our team will guide you through the rest!
                  </dd>
                </div>

                <div>
                  <dt class="text-base font-semibold leading-7 text-gray-900">What is the advantage of using Comfy Space?</dt>
                  <dd class="mt-2 text-base leading-7 text-gray-600">
                    Comfy Space is a refreshing change in the robotics development process. Our emphasis is on nurturing your creativity and helping you bring your unique vision to life. With Comfy Space, the journey through robotics becomes less of a challenge and more of a delightful and rewarding experience.
                  </dd>
                </div>

                <div>
                  <dt class="text-base font-semibold leading-7 text-gray-900">What is Comfy Academy?</dt>
                  <dd class="mt-2 text-base leading-7 text-gray-600">
                    Comfy Academy is a part of Comfy Space which offers lessons and projects to help users understand robotics. These lessons are designed to be approachable to every experience level. Jump in & you would find something interesting!
                  </dd>
                </div>

                <div>
                  <dt class="text-base font-semibold leading-7 text-gray-900">How can I download Comfy Space?</dt>
                  <dd class="mt-2 text-base leading-7 text-gray-600">
                    Comfy Space can be downloaded from the App Store and Google Play. Soon, you will also be able to access Comfy Space on the web!
                  </dd>
                </div>

                <div>
                  <dt class="text-base font-semibold leading-7 text-gray-900">How can I request an account deletion?</dt>
                  <dd class="mt-2 text-base leading-7">
                    <a  href="https://forms.gle/abrTt3xxwStahMhS7"><p class ="text-orange-950 underline">Submit your email or username here & we will take care of the rest.</p></a> Your account will be deleted within 24 hours.
                  </dd>
                </div>
                <!-- More questions... -->
              </dl>
            </div>
          </div>
        </div>
      </div>
      
</body>
</html>