<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incoming feature!</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script async src="https://tally.so/widgets/embed.js"></script>
</head>
<body>
    <div class="background py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl lg:text-center">
            <h2 class="text-base font-semibold leading-7 primary-color-text">{{ .Get "subtitle" }}</h2>
            <p class="mt-2 text-3xl font-bold tracking-tight primary-color-text sm:text-4xl">{{ .Get "title" }}</p>
            <p class="mt-6 text-lg leading-8 primary-color-text"></p>{{.Get "description"}}</p>
            <p class="mt-6 text-lg leading-8 primary-color-text"></p>{{.Get "sub_description"}}</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
              <a href="#tally-open=31E1AO&tally-emoji-text=👋&tally-emoji-animation=wave" class="rounded-md accent-color px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400">Open purchase form</a>
            </div>
          </div>

        </div>
      </div>
      
</body>
</html>