table.shop_table {
	--table-padding: 1em 0.7em;
	--table-border-width: 0;
	--table-font-size: 15px;

	tr {
		--table-border-width: 0 0 1px 0;
		--table-border-style: dashed;

		> * {

			&:first-child {
				padding-inline-start: 0;
			}

			&:last-child {
				padding-inline-end: 0;
			}
		}
	}

	th {
		vertical-align: top;
		text-align: initial;
	}

	thead {

		th {
			--table-border-width: 0 0 2px 0;
			--table-border-style: solid;
			color: var(--headings-color);
		}
	}

	tfoot {

		td {
			font-weight: 600;
		}
	}

	a {
		font-weight: 500;
		--linkInitialColor: var(--color);
	}

	ul, ol {
		
		&:last-child {
			margin-bottom: 0;
		}
	}
}


.shop_table tfoot,
.cart_totals table,
.woocommerce-cart-form__contents tbody {

	tr:last-child {
		--table-border-width: 0;
	}
}


// responsive table
@include media-breakpoint-down (sm) {
	table.shop_table_responsive {
		--table-padding: 1em 0;

		thead {
			display: none;
		}

		tbody {

			th {
				display: none;
			}

			td {
				display: block;
				text-align: right;

				&[data-title]:before {
					content: attr(data-title) ": ";
					display: table;
					float: left;
					font-size: 14px;
					font-weight: 600;
				}
			}
		}
	}

	table.woocommerce-orders-table {

		tbody {
			tr:first-child td:first-child {
				--table-border-width: 0;
			}

			tr td:first-child {
				--table-border-width: 2px 0 0 0;
				--table-border-style: solid;	
			}
		}
	}
}