/*nexter builder nav tab*/
#nxt-builder-tabs-wrapper {
    padding-top: 1.7em;
    margin-bottom: 1.7em;
}
/*nexter builder nav tab*/

.cmb-type-group .cmb-th+.cmb-td,.cmb2-postbox .cmb-th+.cmb-td {
    border-left: 1px solid #e9e9e9!important;
    padding: .8em 0 .8em 20px
}
.cmb-type-group .cmb2-wrap>.cmb-field-list>.cmb-row, .cmb2-postbox .cmb2-wrap>.cmb-field-list>.cmb-row {
    padding: 0 !important;
    margin-bottom: 0;
}
.cmb-type-group .cmb-th,.cmb2-postbox .cmb-th {
    padding: .74em 0!important
}
.meta-box-sortables .cmb2-wrap select{
	width: 50%;
}
.cmb2-postbox .inside {
    margin: 0 !important;
}
.cmb-type-title .cmb2-metabox-title{
    margin: 0 0 10px;
    padding: 15px 0 0;
    font-size: 15px;
    font-weight: 700;
}
/*.iris-picker .iris-picker-inner .iris-alpha-slider:nth-child(2n-1) {
    display: none !important;
}*/
#side-sortables .cmb-type-group .cmb-th+.cmb-td, #side-sortables .cmb2-postbox .cmb-th+.cmb-td {
    padding: 0 !important;
    border-left: none !important;
}
#side-sortables .cmb2-wrap label, .inner-sidebar .cmb2-wrap label {
    padding-bottom: 0;
    font-weight: 500 !important;
}
#side-sortables .cmb-th, .inner-sidebar .cmb-th{
	padding-bottom: 0 !important;
}
#side-sortables .cmb2-postbox .cmb-row {
    border-bottom: none !important;
}
#side-sortables.meta-box-sortables .cmb2-wrap select {
    width: 70%;
}
.cmb2-postbox .cmb-row.cmb-repeat-group-wrap.cmb-type-group {
    border-bottom: 0;
}

.cmb2-postbox .nxt-sections-wrap-fields .cmb-row {
    padding: 0;
    margin: 0;
}
.cmb-row.cmb-type-pw-select .select2.select2-container {
    outline: 0 !important;
}
.nxt-sections-wrap-fields, .cmb-row.cmb2-id-nxt-404-disable-header {
    border-top: 1px solid #e9e9e9;
}
.cmb-row.cmb-type-pw-select .select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 36px;
	color: #666;
}
.cmb-row.cmb-type-pw-select .select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 36px;
}
.cmb-row.cmb-type-pw-select .select2-container--default .select2-selection--single {
    border-color: #E0E8F0;
    border-radius: 5px;
    font-size: 15px;
	height: 38px;
	outline: 0;
}
.nxt-metabox-wrap.cmb2-wrap input.cmb2-text-medium, .nxt-metabox-wrap.cmb2-wrap textarea.cmb2-textarea {
    border-color: #E0E8F0;
    border-radius: 5px;
    min-height: 38px;
    font-size: 15px;
    color: #666;
}
.cmb-row.cmb-type-colorpicker .wp-picker-container .wp-color-result.button{
	padding: 0 0 0 17px;
}
/*Group section fields*/
.cmb2-postbox .cmb-repeat-group-wrap.cmb-type-group .cmb-repeatable-grouping {
    border: 0;
    border-radius: 5px;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-shadow: 0 3px 6px rgb(0 0 0 / 10%);
    box-shadow: 0 3px 6px rgb(0 0 0 / 10%);
}
.cmb2-postbox .cmb-row.cmb-repeat-group-wrap.cmb-type-group .cmb-repeatable-grouping .cmb-group-title {
    background: #F6F7FB;
    color: #101011;
	cursor: pointer;
	margin-left: 0 !important;
	padding: 10px 12px 10px 0;
	padding-left: 20px !important;
    font-size: 15px;
}
.cmb2-postbox .cmb-row.cmb-repeat-group-wrap.cmb-type-group .cmb-repeatable-grouping .cmbhandle:before {
    padding: 12px 10px;
}
.cmb2-metabox .nxt-pages-rules-fields button.dashicons-before.dashicons-no-alt.cmb-remove-group-row:before {
	content : "\f182";
}
.cmb2-metabox .nxt-pages-rules-fields button.dashicons-before.dashicons-no-alt.cmb-remove-group-row:after {
    content: 'Delete';
    padding-left: 4px;
    padding-right: 4px;
    font-size: 15px;
}
.cmb2-metabox .nxt-pages-rules-fields button.dashicons-before.dashicons-no-alt.cmb-remove-group-row {
    left: auto;
    right: 35px;
    border-right: 1px solid #DDDDDD !important;
    display: flex;
    align-items: center;
	top: 10px;
}
.cmb2-metabox .nxt-pages-rules-fields button.dashicons-before.dashicons-no-alt.cmb-remove-group-row:not([disabled]),
.nxt-pages-rules-fields .cmb2-postbox .cmb-row .cmbhandle, .nxt-pages-rules-fields .cmb-type-group .cmb-row .cmbhandle{
	color: #888;
}
.cmb2-postbox .cmb-row.cmb-repeat-group-wrap.cmb-type-group .cmb-repeatable-grouping .cmb-row .cmb-th + .cmb-td {
    width: 78%;
}
.cmb2-postbox .cmb-row.cmb-repeat-group-wrap.cmb-type-group .cmb-repeatable-grouping .cmb-row {
    padding: 0;
    margin-bottom: 0;
}
.cmb2-postbox .cmb-row.cmb-repeat-group-wrap.cmb-type-group .cmb-repeatable-grouping .cmb-remove-field-row {
    margin: 15px 10px 15px 0;
    width: 100%;
	display:none;
}
.nxt-condition-group .inside,.nxt-archives-group .inside{
    flex-wrap: wrap;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}
.cmb2-postbox .cmb-row.cmb-repeat-group-wrap.cmb-type-group .cmb-repeatable-grouping .cmbhandle {
    right: 0;
}
.cmb2-postbox .cmb-repeat-group-wrap .nxt-condition-inc-exc, .cmb2-postbox .cmb-repeat-group-wrap .nxt-condition-archive-inc-exc {
	width: 100%;
    max-width: 155px;
    padding: 10px 10px 10px 20px !important;
    border-right: 1px solid #EAEAEC;
	border-bottom: 0 !important;
}
.cmb2-postbox .cmb-repeat-group-wrap .nxt-condition-inc-exc .cmb-th, .cmb2-postbox .cmb-repeat-group-wrap .nxt-condition-inc-exc .cmb-td, .cmb2-postbox .cmb-repeat-group-wrap .nxt-condition-archive-inc-exc .cmb-th, .cmb2-postbox .cmb-repeat-group-wrap .nxt-condition-archive-inc-exc .cmb-td {
    width: 100% !important;
}
.cmb2-postbox .cmb-row.cmb-repeat-group-wrap .nxt-condition-inc-exc .cmb-th, .cmb2-postbox .cmb-repeat-group-wrap .nxt-condition-archive-inc-exc .cmb-th{
	padding:0 !important;
}
.cmb2-postbox .cmb-repeat-group-wrap .nxt-condition-inc-exc .cmb2_select,.cmb2-postbox .cmb-repeat-group-wrap .nxt-singular-cond-rule .cmb-td .pw_select,.cmb2-postbox .cmb-repeat-group-wrap .nxt-condition-archive-inc-exc .cmb2_select,.cmb2-postbox .cmb-repeat-group-wrap .nxt-archive-cond-rule .cmb-td .pw_select {
    width: 100%;
	margin: 0;
	padding: 4px 7px;
    line-height: 1;
    height: auto;
    border-radius: 2px;
	border-color: #d2d2d2;
}
.cmb2-postbox .cmb-repeat-group-wrap .nxt-condition-inc-exc .cmb-td,.cmb2-postbox .cmb-repeat-group-wrap .nxt-condition-archive-inc-exc .cmb-td {
    border-left: 0 !important;
    padding-left: 0;
    padding-top: 5px;
}
.cmb2-postbox .cmb-repeat-group-wrap .nxt-singular-cond-rule .cmb-th, .cmb2-postbox .cmb-repeat-group-wrap .nxt-singular-cond-type .cmb-th, .cmb2-postbox .cmb-repeat-group-wrap .nxt-singular-cond-rule .cmb-td, .cmb2-postbox .cmb-repeat-group-wrap .nxt-singular-cond-type .cmb-td, .cmb2-postbox .cmb-repeat-group-wrap .nxt-archive-cond-rule .cmb-th, .cmb2-postbox .cmb-repeat-group-wrap .nxt-archive-cond-rule .cmb-td , .cmb2-postbox .cmb-repeat-group-wrap .nxt-archive-cond-type .cmb-th, .cmb2-postbox .cmb-repeat-group-wrap .nxt-archive-cond-type .cmb-td {
    width: 100% !important;
    border-left: 0 !important;
    float: none;
    padding: 0 !important;
}
.cmb2-postbox .cmb-repeat-group-wrap .nxt-singular-cond-rule .cmb-td, .cmb2-postbox .cmb-repeat-group-wrap .nxt-archive-cond-rule .cmb-td {
    padding-top: 5px !important;
}
.cmb2-postbox .cmb-repeat-group-wrap .nxt-singular-cond-rule, .cmb2-postbox .cmb-repeat-group-wrap .nxt-singular-cond-type, .cmb2-postbox .cmb-repeat-group-wrap .nxt-archive-cond-rule, .cmb2-postbox .cmb-repeat-group-wrap .nxt-archive-cond-type {
	padding: 10px !important;
}
.nxt-condition-group .select2-container--default .select2-selection--single, .nxt-archives-group .select2-container--default .select2-selection--single, .nxt-condition-group .select2-container--default .select2-selection--multiple, .nxt-archives-group .select2-container--default .select2-selection--multiple {
    border-color: #d2d2d2;
}
.nxt-condition-group .select2-container--default .select2-selection--multiple .select2-selection__choice,.nxt-archives-group .select2-container--default .select2-selection--multiple .select2-selection__choice{
	background-color: #fff;
    border-color: #d2d2d2;
    border-radius: 2px;
    margin-right: 8px;
    padding: 2px 8px;
	margin-top: 3px;
}
.nxt-condition-group .select2-container--default .select2-selection--multiple .select2-selection__choice__remove, .nxt-archives-group .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
	vertical-align: text-top;
}
.wp-core-ui .nxt-condition-group button.cmb-add-group-row, .wp-core-ui .nxt-archives-group button.cmb-add-group-row {
	margin: 0 auto;
    display: block;
    border: 1px solid #101011;
    background: 0 0;
    box-shadow: none;
    font-size: 14px;
    color: #101011;
    padding: 4px 18px;
    height: auto;
    font-weight: 600;
    border-radius: 5px;
	text-transform: uppercase;
    outline: 0 !important;
	transition: all .3s linear;
}
.wp-core-ui .nxt-condition-group button.cmb-add-group-row:hover, .wp-core-ui .nxt-archives-group button.cmb-add-group-row:hover {
    background: #162D9E;
    color: #fff;
    border-color: #162D9E;
}
.nxt-condition-group .nxt-singular-cond-type,.nxt-archives-group .nxt-archive-cond-type {
    width: auto;
    padding: 0 10px !important;
	display: flex;
    align-items: center;
    flex-flow: wrap;
}
.nxt-condition-group .inside.cmb-td.cmb-nested.cmb-field-list, .nxt-archives-group .inside.cmb-td.cmb-nested.cmb-field-list {
    padding: 0;
	border-top: 1px solid #E0E8F0 !important;
}
.cmb2-postbox .nxt-pages-rules-fields .cmb2-id-nxt-hooks-layout-pages {
    padding-bottom: 0;
}
.nxt-pages-rules-fields .cmb-repeatable-group .cmb-group-title{
	padding: 8px 12px 8px 1em;
}
.nxt-metabox-wrap .nxt-pages-rules-fields .cmb-row:not(.cmb-repeatable-grouping) {
    padding-bottom: 0;
    margin-bottom: 0;
}
.nxt-metabox-wrap .nxt-pages-rules-fields > .cmb-row > .cmb-th > label {
    padding: 0;
}
.meta-box-sortables .nxt-metabox-wrap select.cmb2_select {
    min-height: 38px;
    font-size: 15px;
    border-color: #E0E8F0;
    border-radius: 5px;
    color: #666;
}
.nxt-metabox-wrap .select2-container--default.select2-container--focus .select2-selection--multiple, .nxt-metabox-wrap .select2-container--default .select2-selection--multiple {
    border-color: #E0E8F0;
	border-radius: 5px;
	min-height: 38px;
}
.nxt-metabox-wrap .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #F6F7FB;
    border: 1px solid #F6F7FB;
    color: #666;
    font-weight: 500;
    border-radius: 5px;
    padding: 5px 7px;
}
.nxt-metabox-wrap .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	color: #666;
    cursor: pointer;
    font-size: 20px;
    width: 18px;
    height: 18px;
    font-weight: 500;
    margin: 0;
    border: 1px solid #fff;
    background: #fff;
    line-height: 1;
    font-family: sans-serif;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgb(0 0 0/.08)
}
.nxt-metabox-wrap .select2-container--default .select2-selection--multiple .select2-selection__choice {
    position: relative;
    background-color: #f6f7fb;
    border: 1px solid #f6f7fb;
    color: #666;
    font-weight: 500;
    border-radius: 5px;
    padding: 5px 28px 5px 7px
}
.cmb-row.cmb-type-image-select {
    border-bottom: 0 !important;
}
.nxt-sections-pages-fields {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.nxt-singular-group-combine, .nxt-archive-group-combine {
    width: calc( 100% - 186px);
}
.cmb2-postbox#nxt_builder_settings .cmb-th+.cmb-td {
    width: 79%
}
.cmb2-postbox#nxt_builder_settings .cmb-type-image-select .cmb-th, #nxt_builder_settings .cmb-type-group .cmb-th+.cmb-td, .cmb2-postbox#nxt_builder_settings .cmb-type-image-select .cmb-th+.cmb-td {
    width: 100%;
    border: 0 !important;
    padding: 0;
}
.cmb-type-group #cmb2-metabox-nxt_sidebar_settings .cmb-th+.cmb-td, .cmb2-postbox #cmb2-metabox-nxt_sidebar_settings .cmb-th+.cmb-td {
    width: 79%;
}
/*Preview field*/
.nxt-preview-singular, .nxt-preview-archive {
    -webkit-box-shadow: 0 3px 6px rgb(0 0 0 / 10%);
    box-shadow: 0 3px 6px rgb(0 0 0 / 10%);
    border-radius: 5px;
    position: relative;
    display: block;
    margin-top: 20px;
}
h3.nxt-prev-setting-title {
    margin: 0;
    padding: 10px;
    background: #F6F7FB;
    color: #101011;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px 5px 0px 0px;
}
.nxt-preview-singular > .cmb-row, .nxt-preview-archive > .cmb-row {
    width: calc(50% - 21px);
    display: inline-block;
    border-bottom: 0 !important;
    padding: 10px !important;;
}

.nxt-preview-singular .cmb-row .cmb-th, .nxt-preview-archive .cmb-row .cmb-th {
    width: 100%;
    padding: 0 !important;
}

.nxt-preview-singular .cmb-row .cmb-th+.cmb-td, .nxt-preview-archive .cmb-row .cmb-th+.cmb-td {
    width: 100% !important;
    border: 0 !important;
    padding-top: 2px;
}

.nxt-preview-singular > .cmb-row:not(:last-of-type), .nxt-preview-archive > .cmb-row:not(:last-of-type) {
    border-right: 1px solid #e9e9e9;
}

.block-editor-page .nxt-preview-singular .select2-container, .block-editor-page .nxt-preview-archive .select2-container {
    width: 90% !important;
}
/*Preview field*/
/*Code Snippet*/
.cmb2-id-nxt-code-php-snippet .CodeMirror-sizer:before {
    color: #a0a0a0;
    content: "<?php";
    display: block;
    padding-bottom: 5px;
}
.nxt-php-code-execute-msg.hidden{
	display:none
}
.nxt-php-code-execute-msg {
	color: #de2727c9;
    padding: 5px;
    border: 1px solid #de2727;
    border-radius: 3px;
    margin-bottom: 5px;
    display: inline-block;
}
.nxt-php-code-execute-msg .nxt-snip-errr {
    color: #de2727;
}
.nxt-permission {
    position: relative;
    display: block;
    padding: 10px;
    border: 1px solid #cc1818;
    border-radius: 2px;
    margin: 7px 0;
    color: #cc1818;
}
/*Code Snippet*/