/*************/
.nexter_duplicate_post, .nxt-post-duplicate {
	position : relative;
}
.nxt-dp-post-modal {
	position: absolute;
	display: inline-flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	top: 50%;
    transform: translateY(-50%) scale(0.5);
    z-index: 999;
	width: 160px;
	height: auto;
	margin-left: 10px;
	background: #fff;
	box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 20%);
	border-radius: 5px;
	padding: 20px;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s linear;
}
.nexter_duplicate_post.nxt-open-popup .nxt-dp-post-modal {
	transform : translateY(-50%) scale(1);
	opacity: 1;
	visibility: visible;
}
.nxt-dp-post-modal::before {
    content: "";
    width: 20px;
    height: 20px;
	transform: rotate(45deg) translateX(-50%);
    background: #fff;
    position: absolute;
    z-index: 999;
	left: 0;
    top: 50%;
}
.nxt-post-modal-inner {
	display: inline-flex;
	width: 100%;
	position: relative;
	flex-direction: column;
}
.nxt-post-dp-input-wrap {
	display: inline-flex;
	position: relative;
	align-items: center;
    justify-content: center;
    
}

input.nxt-dp-post-input{
	padding: 5px;
    width: 60%;
    height: 30px;
	text-align: center;
}
.nxt-dp-post-total-text {
	margin-left: 5px;
	font-size: 15px;
    font-weight: 400;
	color: #000;
	width: 40%;
}
a.nxt-dp-post-btn {
	padding: 5px 10px;
	background: #22379C;
    border: 1px solid #22379C;
    color: #fff;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
	width: auto;
    position: relative;
    display: inline-block;
	text-align: center;
	transition: all .15s ease;
}
a.nxt-dp-post-btn:hover,a.nxt-dp-post-btn:focus {
	background : #16287a;
	box-shadow: none;
}