/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  display: inline-block;
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}


.call_to_action .button{
  display: inline-block;
}

.download{
  float: right;
  display: inline-block;
}
.get_started{
  float: right;
  display: inline-block;
}