

#logo {
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.navbar-brand {
    padding: 14px 0px;
    font-size: 16px;
}


#toggle_theme {
    width: 30px;
    height: 30px;
    border-radius: 4px;
}


