@media only screen and (max-width: 600px){
    .feature_card{
        margin-left: 20 px;
        margin-right: 20 px;

    }
}

@media only screen and (min-width: 600px){
    .feature_card{
        margin-left: 25%;
        margin-right: 25%;
    }
}

.BrandName{
    margin-left: calc(var(1 rem) * 1.5);
}